  /*日历云*/
#post-calendar {
    width: 100%; /* 宽度设为百分比，使其可以自动适应容器宽度 */
    height: auto; /* 高度也可以根据实际情况调整，或者设置为固定值，但可能需要根据内容调整 */
    max-width: 600px; /* 设置一个最大宽度，避免在大屏幕上显得过宽 */
    min-height: 180px; /* 设置一个最小高度，保证基本的展示效果 */

    /* 添加媒体查询以适应不同屏幕尺寸 */
    @media (min-width: 768px) { /* 针对平板或更大屏幕 */
        height: 240px; /* 在较大屏幕上增加高度以获得更好的展示效果 */
    }
}