<!-- vlog模块 --> <div style="position: relative; padding: 30% 45%;"> <iframe style=" position: absolute; width: 100%; height: 100%; left: 0; top: 0;" src="//player.bilibili.com/player.html?isOutside=true&aid=1856159589&bvid=BV1KW421d7WS&cid=1614176680&p=1" scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true"> </iframe> </div>


<!-- 2022乐山大佛 -->
      <div class="biye">
        <p>🚡 <i style="border-bottom: 1px solid #ad7a86;">2022正月-乐山大佛</i></p>

        <div class="swbk">
          <!-- 福袋按钮 -->
          <div class="caishendeng">
            <div class="caishenxian">
              <img class="caishenpic huadengpic" src="/medias/spring-img/huadeng.png" />
            </div>
          </div>
          <!-- 圣诞按钮 -->
          <div class="shengdandeng">
            <div class="shengdanxianyou">
              <img class="shengdanpic fudai" src="/medias/christmas-img/shoutao.png" />
            </div>
          </div>
          <div class="label" style="color: rgb(134, 193, 102);">
            <!-- 小帽子 -->
            <!-- <img class="labelmz" src="/medias/spring-img/maozi.png" /> -->
            <!-- 圣诞小帽子 -->
            <!-- <img class="labelmz" id="shengdanmz" src="/medias/christmas-img/shengdanmao.png" /> -->
            <span>itsNeko乐山大佛之行</span></div>
          <p><i style="border-bottom: 1px solid #ad7a86;">2022正月，乐山大佛，钵钵鸡，翘脚牛肉，佛头佛脚栈道。</i></p>
        </div>
        <div style="position: relative; padding: 30% 45%;">
          <iframe style="
                  position: absolute; 
                  width: 100%; 
                  height: 100%; 
                  left: 0; top: 0;"
            src="//player.bilibili.com/player.html?aid=381270165&bvid=BV1uZ4y1o7wh&cid=503120125&page=1&high_quality=1"
            scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true">
          </iframe>
        </div>
      </div>